<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workshop.name %>
</p>

<p>
  <b>Date on:</b>
  <%= @workshop.date_on %>
</p>

<p>
  <b>Hashtag:</b>
  <%= @workshop.hashtag %>
</p>

<h3><%= link_to 'Log', workshop_logs_path(@workshop) %></h3>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
