<p id="notice"><%= notice %></p>

<p>
  <b>Workshop:</b>
  <%= @tagging.workshop_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @tagging.tag_id %>
</p>


<%= link_to 'Edit', edit_tagging_path(@tagging) %> |
<%= link_to 'Back', taggings_path %>
