<h2><%= @workshop.name %></h2>
<%= form_for(@page) do |f| %>
  <%= hidden_field_tag :id %>
<% end %>
<div id="logs">
<% @logs.each do |log| %>
  <% workshop = log.workshop %>
  <div class="log">
    <%= image_tag log.user_icon_url %>
    <p><%= log.content %></p>
    <div>
      <%= button_tag '保存', :id => "#{log.id}", :class => 'log_regist_button' %>
    </div>
  </div>
<% end %>
</div>
