<!DOCTYPE html>
<html>
<head>
  <title>Atovent</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_tag 'var ivars = ' + assigns.select{|k, v| k != '_routes' }.to_json %>
  <%= javascript_tag 'WEB_SOCKET_SWF_LOCATION = "/WebSocketMain.swf";' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="nav">
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <h1>Atovent</h1>
    <p>Help your leaning life.</p>
  </div>
  <div id="subheader">
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    <p>A template by <a href="" title="">Sponge Project</a>, Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open Web Design</a>, Thanks to 
      <a href="http://www.chinatours.com/" target="_blank">China Travel Tours</a> &copy;2007</p>
  </div>
</body>
</html>
